body {
      background-color: #FF9604;
      /* Laranja da paleta */
      min-height: 100vh;
    }

    .card {
      border-radius: 12px;
    }

    .task-item {
      background: white;
      border-radius: 10px;
      padding: 8px 12px;
      margin-bottom: 10px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .task-card {
      background-color: #EFEFEF;
    }